---
---

@import "palettes";
@import "theme";
@import "mixins";

.big_link {
  display: inline-block;
  padding: 10px 15px;
  font-family: $sans;
  font-weight: $medium;
  text-decoration: none;

  #{$icon} {
    margin-right: 0.5rem;
  }

  &[data-button="true"] {
    margin: 10px 15px;
    padding: 7.5px 15px;
    border-radius: 5px;
    background: $accent;
    color: $white;
    transition: background $fast;

    &:hover {
      background: $gray-500;
    }
  }
}
