---
---

@import "palettes";
@import "theme";
@import "mixins";

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 10px - 10px);
  min-height: 40px;
  margin: 0;
  padding: 7.5px 15px;
  border: none;
  border-radius: $rounded;
  background: $accent;
  color: $white;
  font-size: 1rem;
  cursor: pointer;
  transition: background $fast;

  &:hover {
    background: $gray-500;
  }
}
