---
---

@import "palettes";
@import "theme";
@import "mixins";

.card {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: var(--width);
  max-width: calc(100% - 20px - 20px);
  margin: 20px;

  & > * {
    margin: 0;
  }

  .tags { 
    margin: 0;
  }

  .card_image {
    flex-shrink: 0;
    width: var(--width);
    height: calc(2 / 3 * var(--width));
    max-width: 100%;
    overflow: hidden;
    box-shadow: $shadow;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .card_title {
    font-family: $sans;
    font-weight: $medium;
  }

  .card_subtitle {
    margin-top: -15px;
    font-style: italic;
  }
}
