---
---

@import "palettes";
@import "theme";
@import "mixins";

.centerer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  @include block-margins;
  @include trim-v-margins;

  & > * {
    text-align: center;
  }
}
