---
---

@import "palettes";
@import "theme";
@import "mixins";

.citation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 100%;
  margin: 30px 0;
  @include trim-v-margins;
  padding: 20px;
  border: solid 2px $gray-300;
  text-align: left;

  &[data-style="rich"] {
    padding: 0;
    border: none;
  }

  .citation_image {
    width: 120px;
    height: 120px;
    max-width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    box-shadow: $shadow;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .citation_text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 0;
    flex-grow: 1;

    .citation_title {
      font-weight: $semi-bold;
    }

    .tags {
      justify-content: flex-start;
      margin: 0;
    }

    .citation_links {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .link {
        margin: 0;
      }
    }
  }

  @media (max-width: $phone) {
    align-items: center;
    flex-direction: column;

    .citation_image {
      width: 200px;
      height: 200px;
    }

    .citation_text {
      width: 100%;
    }
  }
}
