---
---

@import "palettes";
@import "theme";
@import "mixins";

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 40px;
  @include trim-v-margins;

  .feature_image {
    width: $page * 0.4;
    max-width: 100%;
    flex-shrink: 0;
    // box-shadow: $shadow;

    img {
      width: 100%;
    }
  }

  .feature_text {
    flex-grow: 1;
  }

  .feature_title {
    // color: $dark-accent;
    font-family: $sans;
    font-weight: $medium;
    text-align: center;
  }

  &[data-flip="true"] {
    flex-direction: row-reverse;
  }

  @media (max-width: $tablet) {
    flex-direction: column !important;
  }
}
