---
---

@import "variables";
@import "mixins";

.figure {
  @include flex-center;
  flex-direction: column;
  margin: 40px 0;
  @include trim-margins;

  .figure_image {
    img[data-default="true"] {
      max-width: 400px;
      max-height: 300px;
    }
  }

  .figure_caption {
    margin-top: 10px;
    margin-bottom: 0;
    font-style: italic;
    text-align: center;
  }

  &[data-flat="false"] {
    .figure_image {
      overflow: hidden;
      box-shadow: $shadow;

      img {
        transition: transform $fast;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }
}
