---
---

@import "palettes";
@import "theme";
@import "mixins";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  color: $white;
  background: $gray-800;
  text-align: center;
  box-shadow: $shadow;

  & * {
    font-family: $sans;
  }

  .footer_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    line-height: $spacing + 0.3;

    .link {
      margin: 0;
    }

    &:hover .link {
      opacity: 0.25;
    }

    .link:hover {
      opacity: 1;
    }
  }

  a {
    color: currentColor;
  }
}
