---
---

@import "colors";
@import "theme";
@import "mixins";

footer {
  padding: 40px;
  color: $white;
  background: $gray-800;
  box-shadow: $shadow;
  text-align: center;

  & * {
    font-family: $sans;
  }

  // background
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.2;
    // filter: blur(5px);
    z-index: -1;
  }

  .footer_row {
    @include flex-center;
    flex-wrap: wrap;
    margin: 20px 0;
    @include trim-margins;

    &:hover .social_link {
      opacity: 0.25;
    }

    & .social_link:hover {
      opacity: 1;
    }
  }

  a {
    color: currentColor;
    text-decoration: none;
  }
}
