---
---

@import "palettes";
@import "theme";
@import "mixins";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  color: $white;
  background: $gray-800;
  box-shadow: $shadow;

  & * {
    font-family: $sans;
  }

  .logo_row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .logo {
      max-width: 100%;
      height: 50px;
    }

    .logo_text {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 5px;
      line-height: $spacing - 0.3;

      .logo_title {
        font-size: 1.5rem;
      }

      .logo_subtitle {
        font-size: 0.9rem;
        font-style: italic;
        color: $gray-500;
      }
    }
  }

  .nav_row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: $regular;
    text-transform: uppercase;
    letter-spacing: 1px;

    .link {
      margin: 0;
      font-size: 1rem;
    }

    &:hover .link {
      opacity: 0.25;
    }

    .link:hover {
      opacity: 1;
    }
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  // screen width where nav bar wraps to under logo
  // adjust based on width of your lab name and nav bar
  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: stretch;
  }

  // screen width where logo and nav bar go from horizontal to vertical
  // adjust based on width of your lab name and nav bar
  @media (max-width: 700px) {
    .logo_row {
      flex-direction: column;

      .logo_text {
        text-align: center;
        align-items: center;
      }
    }

    .nav_row {
      flex-direction: column;
      justify-content: center;

      .link {
        width: 100%;
      }
    }
  }
}
