---
---

@import "palettes";
@import "theme";
@import "mixins";

a {
  color: $accent;
  transition: color $fast;
  overflow-wrap: break-word;
}

a:hover {
  color: currentColor;
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  margin: 5px;
  padding: 5px;
  font-size: 0.9rem;
  text-decoration: none;
  vertical-align: middle;
  transition: background $fast, color $fast, opacity $fast;

  span {
    text-align: center;
    font-family: $sans;
    font-weight: $medium;
    line-height: 1;
  }

  &[data-flip="true"] {
    flex-direction: row-reverse;
  }

  &[data-style="button"] {
    max-width: calc(100% - 10px - 10px);
    min-height: 40px;
    margin: 10px;
    padding: 5px 10px;
    border-radius: $rounded;
    background: $accent;
    color: $white;

    &:hover {
      background: $gray-500;
    }
  }
}
