---
---

@import "palettes";
@import "theme";
@import "mixins";

a {
  color: $accent;
  transition: color $fast;
}

a:hover {
  color: currentColor;
}

.link {
  @include inline-flex-center;
  padding: 10px;
  font-size: 0.9rem;
  text-decoration: none;
  transition: color $fast, opacity $fast;

  span {
    text-align: center;
    font-family: $sans;
    font-weight: $medium;
  }

  &[data-icon][data-text] {
    & > *:first-child {
      margin-right: 0.75em;
    }
  }

  &[data-style="button"] {
    margin: 10px;
    padding: 7.5px 15px;
    border-radius: 5px;
    background: $accent;
    color: $white;
    transition: background $fast;

    &:hover {
      background: $gray-500;
    }
  }
}
