---
---

@import "palettes";
@import "theme";
@import "mixins";

ul {
  @include margins;
  @include trim-v-margins;
  padding-left: 20px;
  list-style-type: square;

  li {
    margin: 10px 0;
    @include trim-v-margins;
  }
}
