---
---

@import "variables";
@import "mixins";

ul {
  margin: 20px 0;
  padding-left: 20px;
  list-style-type: square;

  li {
    margin: 10px 0;

    @include trim-margins;
  }

  @include trim-margins;
}
