---
---

@import "variables";
@import "mixins";

.paper_links {
  @include flex-center;
  justify-content: flex-start;
  flex-wrap: wrap;

  .paper_link {
    @include inline-flex-center;
    padding: 5px 10px;
    max-width: 100%;
    text-decoration: none;

    & > i,
    & > svg {
      margin-right: 5px;
    }
  }

  @media (max-width: $phone) {
    & {
      justify-content: center;
    }
  }
}
