---
---

@import "variables";
@import "mixins";

.post_info {
  color: $gray;

  & > span {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    white-space: nowrap;

    i {
      margin-right: 10px;
    }
  }
}
