---
---

@import "palettes";
@import "theme";
@import "mixins";

.post_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  color: $gray-500;

  & > * {
    width: 50%;
  }

  & > *:first-child {
    text-align: left;
  }

  & > *:last-child {
    text-align: right;
  }

  @media (max-width: $phone) {
    align-items: center;
    flex-direction: column;

    & > * {
      text-align: center !important;
    }
  }
}
