---
---

@import "palettes";
@import "theme";
@import "mixins";

.role {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: $gray-500;
  font-family: $sans;
  font-size: 0.9rem;

  .role_text {
    font-weight: $medium;
  }

  .role_description {
    // font-style: italic;
  }

  @media (max-width: $phone) {
    .role_description {
      width: 100%;
    }
  }
}
