---
---

@import "palettes";
@import "theme";
@import "mixins";

.role {
  display: inline-block;
  color: $gray-500;
  font-family: $sans;
  font-weight: $medium;

  .role_text {
    margin-left: 10px;
  }
}
