---
---

@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  font-size: 12pt;

  main {
    box-sizing: border-box;
    flex-grow: 1;
    background: $white;
  }
  
  section {
    .section {
      box-sizing: border-box;
      max-width: $page;
      margin: 0 auto;
      padding: 40px;
    }

    &:nth-child(even) {
      background: $off-white;
    }
  }
}
