---
---

@import "palettes";
@import "theme";
@import "mixins";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 12pt;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  section {
    .section {
      box-sizing: content-box;
      max-width: $page;
      margin: 0 auto;
      padding: 60px 40px;
    }

    &:nth-child(even) {
      background: $white;
    }

    &:nth-child(even) {
      background: $gray-50;
    }

    &:last-child {
      flex-grow: 1;
    }
  }
}
