---
---

@import "palettes";
@import "theme";
@import "mixins";

.table_wrapper {
  @include big-margins;
  @include trim-v-margins;
  overflow-x: auto;

  table {
    margin: 0 auto;
    border-collapse: collapse;

    th,
    td {
      padding: 10px 15px;
      border: solid 1px $gray-500;
    }
  }
}
