---
---

@import "palettes";
@import "theme";
@import "mixins";

.tags {
  max-width: 100%;

  .tag {
    display: inline-block;
    max-width: 100%;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 999px;
    background: $light-accent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
