---
---

@import "colors";
@import "theme";
@import "mixins";

.tags {
  @include inline-flex-center;
  flex-wrap: wrap;
  max-width: 100%;

  .tag {
    max-width: 100%;
    margin: 5px;
    padding: 4px 12px;
    border-radius: 999px;
    background: $light-accent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
