---
---

@import "variables";

.tooltip {
  position: absolute;
  left: -999px;
  top: -999px;
  width: max-content;
  max-width: 260px;
  padding: 8px 12px;
  background: $black;
  color: $white;
  border-radius: 5px;
  font-family: $sans;
  font-size: 0.9rem;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: opacity $fast;

  &[data-show="true"] {
    opacity: 1;
  }
}
