// use these variables in other scss files to keep consistent look across site

// shades of gray
$black: #101010;
$dark-gray: #404040;
$gray: #a0a0a0;
$light-gray: #d0d0d0;
$off-white: #f8f8f8;
$white: #ffffff;

// colors
// https://www.materialpalette.com/colors
$red: #e91e63;
$pink: #f48fb1;
$purple: #9c27b0;
$light-purple: #ce93d8;
$blue: #03a9f4;
$light-blue: #b3e5fc;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$light-green: #a5d6a7;
$yellow: #ffd54f;
$orange: #ff9800;
$light-orange: #ffe082;
$slate: #607d8b;

// main theme color for links, tags, and other accents
$theme: $blue;
$light-theme: $light-blue;

// effects
$shadow: 0 0 10px 0 #00000040;

// fonts
$serif: "Lora", serif;
$sans: "Poppins", sans-serif;
$mono: "Cousine", monospace;
// additional code needed to use these in /_includes/fonts.html

// font weights
$medium: 500;
$semi-bold: 600;
$bold: 700;

// transitions
$fast: 0.25s ease;
$slow: 0.5s ease;

// sizes
$page: 800px; // max-width of the main page column
// these affect layout of header and other components:
$tablet: 900px; // screen width cutoff point for tablets
$phone: 500px; // screen width cutoff point for phones
