/* use these to keep looks consistent across the site */
:root {
  /* colors */
  --black: #101010;
  --dark-gray: #404040;
  --gray: #a0a0a0;
  --light-gray: #d0d0d0;
  --off-white: #f8f8f8;
  --white: #ffffff;
  /* https://www.materialpalette.com/colors */
  --red: #e91e63;
  --purple: #9c27b0;
  --blue: #03a9f4;
  --light-blue: #b3e5fc;
  --cyan: #00bcd4;
  --teal: #009688;
  --green: #4caf50;
  --yellow: #ffeb3b;
  --orange: #ff9800;
  --slate: #607d8b;

  /* effects */
  --shadow: 0 0 10px 0 #00000040;

  /* page width */
  --page: 800px;

  /* fonts */
  --serif: "Lora", serif;
  --sans: "Poppins", sans-serif;
  --mono: "Cousine", monospace;

  /* transitions */
  --fast: 0.25s ease;
  --slow: 1s ease;
}
