# site properties and page defaults
title: DePasquale Lab
description: My lab website
logo: images/pone.0191527.g001.png
#header: images/background.jpg
footer: images/pone.0191527.g001.png
proofer: false

# site social media and other links
links:
  #email: bddepasqh@bu.edu
  #google-scholar: Brian DePasquale
  github: depasquale-lab
  #twitter: YourLabHandle
  #instagram: YourLabHandle
  #youtube: YourLabChannel

### jekyll settings

# front matter defaults
defaults:
  # all markdown files
  - scope:
      path: ""
    values:
      layout: default
  # markdown files in /_members
  - scope:
      type: "members"
    values:
      layout: member
  # markdown files in /_posts
  - scope:
      type: "posts"
    values:
      layout: post

collections:
  # generate page for each member
  members:
    output: true
  # generate page for each post
  posts:
    output: true

# jekyll plugins
plugins:
  - jekyll-spaceship
  - jekyll-sitemap
  - jekyll-redirect-from
  - jekyll-feed
  - jekyll-last-modified-at

# code block syntax highlighting
highlighter: rouge

# jekyll theme
theme: null

# sass settings
sass:
  sass_dir: _styles

# force jekyll to include certain files/folders
include:
  - _styles
  - _scripts

# force jekyll to exclude certain files/folders
exclude:
  - README.md
  - LICENSE.md
  - CITATION.cff
