---
---

// colors
[data-dark="false"] {
  --primary: #235470;
  --secondary: #3f7b90;
  --text: #000000;
  --background: #ffffff;
  --background-alt: #fafafa;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --overlay: #00000020;
}
[data-dark="true"] {
  --primary: #519eb9;
  --secondary: #2e6f94;
  --text: #ffffff;
  --background: #181818;
  --background-alt: #1c1c1c;
  --light-gray: #404040;
  --gray: #808080;
  --overlay: #ffffff10;
}

:root {
  // font families
  --title: "Barlow", sans-serif;
  --heading: "Barlow", sans-serif;
  --body: "Barlow", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --medium: 1rem;
  --large: 1.2rem;
  --xl: 1.4rem;
  --xxl: 1.6rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 2;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);
}
