---
---

pre,
code,
pre *,
code * {
  font-family: var(--code);
}

// inline code
code.highlighter-rouge {
  padding: 2px 6px;
  background: var(--light-gray);
  border-radius: var(--rounded);
  line-height: calc(var(--spacing) - 0.2);
}

// code block
div.highlighter-rouge {
  width: 100%;
  margin: 40px 0;
  background: #202020;
  color: white;
  border-radius: var(--rounded);
  overflow-x: auto;
  overflow-y: auto;
  text-align: left;
  line-height: calc(var(--spacing) - 0.4);

  div.highlight {
    display: contents;

    pre.highlight {
      width: fit-content;
      margin: 0;
      padding: 20px;
      color: var(--white);
    }
  }
}
