{% assign byyear = site.posts | sort: "date" | reverse | group_by_exp: "post", "post.date | date: '%Y'" | sort: "name" | reverse %}

{% for yeargroup in byyear %}

<!-- section break -->

### {{ yeargroup.name }}

{% for post in yeargroup.items %}

[{{ post.title }}]({{ post.url | relative_url }})

{% include post-info.html post=post %}

{% include tags.html tags=post.tags %}

{% if forloop.index <= 3 %}
{{ post.content | strip_html | truncate: 500 }}
{% else %}
{{ post.content | strip_html | truncate: 200 }}
{% endif %}

{% if forloop.index < forloop.length %}
---
{% endif %}

{% endfor %}

{% endfor %}

<!-- section break -->
