{% if include.link %}
  {% assign tag = "a" %}
{% else %}
  {% assign tag = "span" %}
{% endif %}

<div class="card" data-style="{{ include.style }}">
  <{{ tag }}
    href="{{ include.link | relative_url }}"
    class="card-image"
  >
    <img
      src="{{ include.image | relative_url }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </{{ tag }}>

  <div class="card-text">
    {% if include.title %}
      <{{ tag }}
        href="{{ include.link | relative_url }}"
        {% if include.tooltip %}
          data-tooltip="{{ include.tooltip }}"
        {% endif %}
        class="card-title"
      >
        {{ include.title }}
      </{{ tag }}>
    {% endif %}

    {% if include.subtitle %}
      <span class="card-subtitle">{{ include.subtitle }}</span>
    {% endif %}

    {% if include.description %}
      {{ include.description | markdownify }}
    {% endif %}

    {% if include.tags or include.repo %}
      {% include tags.html tags=include.tags repo=include.repo %}
    {% endif %}
  </div>
</div>
