{%- comment -%}
Script to modify main content of page:
- wrap each level 1 or 2 heading and its succeeding content in sections
- wrap each table in div to allow for scrolling
{%- endcomment -%}

{%- assign content = include.content -%}

{%- assign content = content | replace: "<!-- section break -->", "</div></section><section><div class='section'>" -%}

{%- assign content = content | replace: "<table>", "<div class='table_wrapper'><table>" -%}
{%- assign content = content | replace: "</table>", "</table></div>" -%}

<section>
  <div class='section'>
    {{ content }}
  </div>
</section>
