<figure class="figure">
  <a href="{{ include.link | relative_url }}" class="figure-link">
    <img
      src="{{ include.image | relative_url }}"
      class="figure-image"
      alt="{{ include.caption }}"
      title="{{ include.caption }}"
      style="
        width: {{ include.width | default: "auto" }};
        max-height: {{ include.height | default: "unset" }};
      "
      loading="lazy"
      {% include fallback.html %}
    >
  </a>
  {% if include.caption %}
    <figcaption class="figure-caption">
      {{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }}
    </figcaption>
  {% endif %}
</figure>
