<footer>
  <div
    class="section_background"
    style="background-image: url('{{ page.background | relative_url }}');"
  ></div>
  <div class="social_row">
    {% include social-link.html type="contact" large=true %}
    {% include social-link.html type="github" large=true %}
    {% include social-link.html type="twitter" large=true %}
    {% include social-link.html type="instagram" large=true %}
  </div>
  &copy; <script>document.write(new Date().getFullYear())</script> Awesome Lab
</footer>
