{%- assign max = 0 -%}

{%- for i in (1..100) -%}
  {%- assign image = "image" | append: i -%}
  {%- assign image = include[image] -%}
  {%- if image -%}
    {%- assign max = i -%}
  {%- endif -%}
{%- endfor -%}

<div class="gallery" data-style="{{ include.style }}" data-number="{{ max }}">
  {%- for i in (1..100) -%}

    {%- assign image = "image" | append: i -%}
    {%- assign image = include[image] -%}
    {%- assign tooltip = "tooltip" | append: i -%}
    {%- assign tooltip = include[tooltip] -%}
    {%- assign link = "link" | append: i -%}
    {%- assign link = include[link] -%}

    {%- if image -%}
      <a
        {% if link %}href="{{ link | relative_url }}"{% endif %}
        class="gallery_item"
        {% if tooltip %}data-tooltip="{{ tooltip }}"{% endif %}
      >
        <img
          src="{{ image | relative_url }}"
          loading="lazy"
          alt=""
        />
      </a>
    {%- endif -%}

  {%- endfor -%}
</div>
