{% if page.header == "none" %}
{% assign background = nil %}
{% else %}
{% assign background = page.header | default: site.header | default: nil %}
{% endif %}

<header {% if background %}class="background"{% endif %} {% if background %}style="--background: url('{{ background | relative_url }}')"{% endif %}>
  <a
    href="{{ '/' | relative_url }}"
    class="logo_row"
    data-tooltip="Home"
    data-placement="bottom"
    data-delay="400"
  >
    <img src="{{ site.logo | relative_url }}" class="logo" />
    <span class="logo_text">{{ site.title }}</span>
  </a>
  <nav class="nav_row">
    {% for nav in site.nav %} {% include nav-link.html link=nav.link
    tooltip=nav.tooltip %} {% endfor %}
  </nav>
</header>
