<header>
  <a
    href="{{ '/' | relative_url }}"
    class="logo_row"
    data-tooltip="Home"
    data-placement="bottom"
    data-delay="400"
  >
    <span class="logo">
      {%- include logo.svg -%}
      <!-- <img src="{{ "images/logo.png" | relative_url }}" /> -->
    </span>
    <span class="logo_text">{{ site.title }}</span>
  </a>
  <nav class="nav_row">

    {%- comment -%}
    Add or remove header nav links here.
    
    Be wary of different screen sizes. Test by resizing your browser window
    from full-width to very narrow. Adjust the $tablet and $phone cutoff points
    in /css/variables.scss until the header elements wrap at the right time.
    {%- endcomment -%}

    <a
      href="{{ 'research' | relative_url }}"
      class="nav_link"
      data-tooltip="Published works"
      data-placement="bottom"
      data-delay="400"
      >Research</a
    >
    <a
      href="{{ 'resources' | relative_url }}"
      class="nav_link"
      data-tooltip="Tools, datasets, and more"
      data-placement="bottom"
      data-delay="400"
      >Resources</a
    >
    <a
      href="{{ 'team' | relative_url }}"
      class="nav_link"
      data-tooltip="About our team"
      data-placement="bottom"
      data-delay="400"
      >Team</a
    >
    <a
      href="{{ 'blog' | relative_url }}"
      class="nav_link"
      data-tooltip="News, videos, and musings about miscellany"
      data-placement="bottom"
      data-delay="400"
      >Blog</a
    >
    <a
      href="{{ 'contact' | relative_url }}"
      class="nav_link"
      data-tooltip="Email, address, and location"
      data-placement="bottom"
      data-delay="400"
      >Contact</a
    >
  </nav>
</header>
