<!-- https://realfavicongenerator.net/ -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ 'icons/ios.png' | relative_url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="512x512"
  href="{{ 'icons/favicon.png' | relative_url }}"
/>
<link rel="manifest" href="{{ 'icons/site.webmanifest' | relative_url }}" />

<!-- https://metatags.io/ -->
<meta
  property="og:image"
  content="{{ 'icons/share-thumbnail.jpg' | relative_url }}"
/>
<meta
  property="twitter:image"
  content="{{ 'icons/share-thumbnail.jpg' | relative_url }}"
/>
