{% if include.links.size > 0 %}
<div class="paper_links">
  {%- for link in include.links -%}
  {%- if link.link -%}
  
  {%- assign icon = "fas fa-external-link-alt" -%}
  {%- assign text = "Link" -%}

  {%- if link.type == "journal" -%}
  {%- assign icon = "far fa-newspaper" -%}
  {%- assign text = link.text | default: "Journal" -%}
  {%- endif -%}

  {%- if link.type == "preprint" -%}
  {%- assign icon = "far fa-eye" -%}
  {%- assign text = link.text | default: "Preprint" -%}
  {%- endif -%}

  {%- if link.type == "manubot" -%}
  {%- assign text = link.text | default: "Manubot" -%}
  {%- endif -%}

  {%- if link.type == "source" -%}
  {%- assign icon = "fas fa-code" -%}
  {%- assign text = link.text | default: "Source" -%}
  {%- endif -%}

  {%- if link.type == "server" -%}
  {%- assign icon = "fas fa-server" -%}
  {%- assign text = link.text | default: "Server" -%}
  {%- endif -%}

  {%- if link.type == "app" -%}
  {%- assign icon = "fas fa-hand-pointer" -%}
  {%- assign text = link.text | default: "App" -%}
  {%- endif -%}

  {%- if link.type == "data" -%}
  {%- assign icon = "fas fa-database" -%}
  {%- assign text = link.text | default: "Data" -%}
  {%- endif -%}

  {%- if link.type == "package" -%}
  {%- assign icon = "fas fa-box" -%}
  {%- assign text = link.text | default: "Package" -%}
  {%- endif -%}
  
  {%- if link.type == "website" -%}
  {%- assign icon = "fas fa-home" -%}
  {%- assign text = link.text | default: "Website" -%}
  {%- endif -%}

  {%- comment -%}
  To add more options for icons, see:
  https://fontawesome.com/icons?d=gallery&q=icon&m=free
  {%- endcomment -%}

  <a
    href="{{ link.link }}"
    class="paper_link"
  >
    {%- if link.type == "manubot" -%}
    {%- include manubot-logo.svg -%}
    {%- else -%}
    <i class="{{ icon }}"></i>
    {%- endif -%}
    {{- text -}}
  </a>
  {%- endif -%}
  {%- endfor -%}
</div>
{% endif %}
