{% assign member = site.members 
  | where_exp: "member", "member.slug == include.lookup"
  | first
  | default: include
%}

{% if page.slug != member.slug %}
  {% assign tag = "a" %}
{% else %}
  {% assign tag = "span" %}
{% endif %}

<div class="portrait-wrapper">
  <{{ tag }}
    href="{{ member.url | relative_url }}"
    class="portrait"
    data-style="{{ include.style }}"
  >
    <img
      src="{{ member.image | relative_url }}"
      class="portrait-image"
      loading="lazy"
      {% include fallback.html %}
    >

    {% if member.name or member.role or member.description %}
      <span class="portrait-text">
        {% if member.name %}
          <span class="portrait-name">
            {{ member.name }}
          </span>
        {% endif %}

        {% if member.role or member.description %}
          <span class="portrait-role">
            {% assign type = site.data.types[member.role] %}
            {% include icon.html icon=type.icon %}
            <span>{{ member.description | default: type.description }}</span>
          </span>
        {% endif %}
      </span>
    {% endif %}
  </{{ tag }}>
</div>
