{% assign emptyarray = "" | split: "," %}

{% assign id = include.slug | default: include.id | default: "" %}
{% assign posts = site.posts | default: emptyarray %}

{% assign post = nil %}
{% for p in posts %}
  {% if p.slug == id %}
    {% assign post = p %}
  {% endif %}
{% endfor %}

<div class="post_excerpt">
  {% assign url = post.url | default: "" %}
  {% assign title = post.title | default: "" %}
  <p>
    <a href="{{ url | relative_url }}">{{ title }}</a>
  </p>

  {%
    include post-info.html
    author=post.author
    member=post.member
    date=post.date
    tags=post.tags
  %}

  {% assign content = post.content | default: "" %}
  <p>
    {{ content | strip_html | truncate: 500 }}
  </p>
</div>
