{% assign post = site.posts 
  | where_exp: "post", "post.slug == include.lookup"
  | first
  | default: include
%}

<div class="post-excerpt">
  {% assign url = post.url %}
  {% assign title = post.title %}
  <a href="{{ url | relative_url }}">{{ title }}</a>

  {%
    include post-info.html
    author=post.author
    published=post.date
    updated=post.last_modified_at
    tags=post.tags
  %}

  {% assign excerpt = post.content
    | default: ""
    | regex_scan: "<!-- excerpt start -->(.*)<!-- excerpt end -->"
    | default: post.excerpt
    | default: ""
    | strip_html
  %}
  <p data-search="{{ post.content | strip_html | strip_newlines }}">
    {{ excerpt }}
  </p>
</div>
