<div class="post-info">
  {% if include.author %}
    {% assign authors = include.author
      | join: ","
      | downcase
      | split: ","
      | array_filter
    %}
    {% for author in authors %}
      {% assign member = site.members
        | where_exp: "member", "member.slug == author"
        | first
      %}
      {% if member %}
        {% include portrait.html lookup=author style="tiny" %}
      {% else %}
        <span data-tooltip="Author">
          {% include icon.html icon="fa-solid fa-feather-pointed" %}
          <span>{{ author }}</span>
        </span>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% assign published = include.published | date: "%B %d, %Y" %}
  {% assign updated = include.updated | date: "%B %d, %Y" %}

  {% if published %}
    <span data-tooltip="Originally published on">
      {% include icon.html icon="fa-regular fa-calendar" %}
      <span>{{ published }}</span>
    </span>
  {% endif %}

  {% if updated and updated != "" and updated != published %}
    <span data-tooltip="Last updated on">
      {% include icon.html icon="fa-solid fa-clock-rotate-left" %}
      <span>{{ updated }}</span>
    </span>
  {% endif %}
</div>

{% if include.tags %}
  {% include tags.html tags=include.tags link="blog" %}
{% endif %}
