{% assign nothing = "" | split: "," %}
{% assign resources = site.data.resources | default: nothing %}

{% if include.group != nil %}
{% if include.group == "" %}
{% assign group = nil %}
{% else %}
{% assign group = include.group %}
{% endif %}
{% assign resources = resources | where_exp: "resource", "resource.group == group" %}
{% endif %}

{% for resource in resources %}
{% capture tags %}
{% include tags.html repo=resource.repo %}
{% endcapture %}

{%-
  include card.html
  size=include.size
  heading=resource.title
  image=resource.image
  link=resource.link
  row1=resource.description
  row2=tags
-%}
{% endfor %}