{%- assign type = site.data.roles[include.type] -%}

{% if type -%}

  {%- assign icon = type.icon -%}

  {%- assign description = include.description -%}
  
  {%- assign text = nil -%}
  {%- assign tooltip = nil -%}
  {%- if include.text -%}
    {%- assign text = type.text -%}
  {%- else -%}
    {%- assign tooltip = type.text -%}
  {%- endif -%}

  <div class="role" {% if tooltip %}data-tooltip="{{ tooltip }}"{% endif %}>
    {%- if icon -%}
      <i class="{{ icon }}"></i>
    {%- endif -%}

    {%- if text -%}
      <span class="role_text">{{ text }}</span>
    {%- endif -%}

    {%- if description -%}
      <span class="role_description">{{ description }}</span>
    {%- endif -%}
  </div>

{%- endif %}
