{%- if include.type == "website" -%}
{%- assign icon = "fas fa-home" -%}
{%- assign tooltip = "Website" -%}
{%- assign link = include.link | default: "" -%}
{%- endif -%}

{%- if include.type == "email" -%}
{%- assign icon = "fas fa-envelope" -%}
{%- assign tooltip = "Email" -%}
{%- assign link = include.link | default: "" | prepend: "mailto:" -%}
{%- endif -%}

{%- if include.type == "google-scholar" -%}
{%- assign icon = "fab fa-google" -%}
{%- assign tooltip = "Google Scholar" -%}
{%- assign link = include.link | default: "" | prepend: "https://scholar.google.com/citations?hl=en&user=" -%}
{%- endif -%}

{%- if include.type == "github" -%}
{%- assign icon = "fab fa-github" -%}
{%- assign tooltip = "GitHub" -%}
{%- assign link = include.link | default: "" | prepend: "https://github.com/" -%}
{%- endif -%}

{%- if include.type == "twitter" -%}
{%- assign icon = "fab fa-twitter" -%}
{%- assign tooltip = "Twitter" -%}
{%- assign link = include.link | default: "" | prepend: "https://twitter.com/" -%}
{%- endif -%}

{%- if include.type == "instagram" -%}
{%- assign icon = "fab fa-instagram" -%}
{%- assign tooltip = "Instagram" -%}
{%- assign link = include.link | default: "" | prepend: "https://instagram.com/" -%}
{%- endif -%}

{%- if include.type == "youtube" -%}
{%- assign icon = "fab fa-youtube" -%}
{%- assign tooltip = "YouTube" -%}
{%- assign link = include.link | default: "" | prepend: "https://youtube.com/" -%}
{%- endif -%}

{%- if include.type == "linkedin" -%}
{%- assign icon = "fab fa-linkedin" -%}
{%- assign tooltip = "LinkedIn" -%}
{%- assign link = include.link | default: "" | prepend: "https://www.linkedin.com/in/" -%}
{%- endif -%}

{%- comment -%}
To add more options for icons, see:
https://fontawesome.com/icons?d=gallery&q=icon&m=free
{%- endcomment -%}

{%- if include.link and icon and tooltip and link -%}
<a href="{{ link }}" class="social_link" data-tooltip="{{ tooltip }}" aria-label="{{ tooltip }}" data-large="{{ include.large }}">
  <i class="{{ icon }} {% if include.large %}fa-lg{% endif %} fa-fw"></i>
</a>
{%- endif -%}
