<!-- site-wide css styles -->
<link href="{{ 'css/all.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/anchor.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/background.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/big-link.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/card.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/card-search.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/centerer.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/code.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/feature.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/figure.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/footer.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/header.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/heading.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/highlight.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/icon.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/image.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/gallery.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/link.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/list.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/paragraph.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/paper-link.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/portrait.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/post-info.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/post-nav.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/role.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/rule.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/section.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/social-link.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/table.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/tags.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/tooltip.css' | relative_url }}" rel="stylesheet" />
<link href="{{ 'css/util.css' | relative_url }}" rel="stylesheet" />

<!-- styles based on page variables -->
<style>
  :root {
    --background: url("{{ page.background | relative_url }}");
  }
</style>
