{% assign tags = include.tags
  | array_hash
  | join: ","
  | split: ","
  | array_filter
  | uniq
%}
{% assign link = include.link | default: page.dir | absolute_url %}
{% if tags.size > 0 or include.repo %}
  <div
    class="tags"
    {% if include.repo %}
      data-repo="{{ include.repo }}"
    {% endif %}
    {% if link %}
      data-link="{{ link }}"
    {% endif %}
  >
    {% for tag in tags %}
      <a
        href="{{ link }}?search=&quot;tag: {{ tag }}&quot;"
        class="tag"
        data-tooltip="Show items with the tag &quot;{{ tag }}&quot;"
      >
        {{ tag }}
      </a>
    {% endfor %}
  </div>
{% endif %}
