{%- assign tags = include.tags | join: "," | split: "," -%}
{%- assign repo = include.repo | strip -%}
{%- assign link = include.link | default: page.dir | absolute_url -%}
{%- if repo == "" -%}
  {%- assign repo = nil -%}
{%- endif -%}

{%- if tags.size > 0 or repo -%}
  <div class="tags" {% if repo %}data-repo="{{ repo }}"{% endif %} {% if link %}data-link="{{ link }}"{% endif %}>
    {%- for tag in tags -%}
      <a {% if link %}href='{{ link }}?search="tag:{{ tag }}"'{% endif %} class="tag" >{{- tag -}}</a>
    {%- endfor -%}
  </div>
{%- endif -%}
